<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
      {{ page_title }}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%}
        &ndash;
        {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash;
        {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash;
        {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}

    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {% render 'css-fonts' %}
    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}

    <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' |  asset_url }}"/>
    <link rel="stylesheet" href="{{ 'common.css' | asset_url }}" async>

    {{ content_for_header }}
  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
    {{ content_for_layout }}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{{ 'common.js' | asset_url }}" defer></script>
  </body>
</html>
