<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="theme-color" content="{{ settings.color_accent }}">

  <link rel="dns-prefetch" href="//cdn.shopify.com">
  <link rel="preconnect" href="//cdn.shopify.com">

  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="stylesheet" href="{{- 'swiper-bundle.min.css' | asset_url -}}" />

  {%- if settings.favicon != blank -%}
    <link
      rel="shortcut icon"
      href="{{ settings.favicon | img_url: '32x32' }}"
      type="image/png">
  {%- endif -%}

  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash;
      {{ 'general.meta.tags' | t: tags: meta_tags
      }}{% endif %}{% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page
      }}{% endif %}{% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}{% endunless %}
  </title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% render 'social-meta-tags' %}

  {{- 'common.css' | asset_url | stylesheet_tag -}}
  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  <script src="{{- 'swiper.js' | asset_url -}}" defer></script>

  <div class="overflow-block"></div>

  {% sections 'header-group' %}

  <main class="main">
    {{ content_for_layout }}
  </main>

  {%- section 'cart-drawer' -%}
  {%- section 'footer' -%}

  <div class="overlay"></div>

  <script src="{{- 'product-form.js' | asset_url -}}" defer></script>
  <script src="{{- 'common.js' | asset_url -}}" defer></script>
  {% render 'css-fonts' %}
</body>
</html>
